/*CSS*/
body {

}

a {

}

#disclaimer
{
    font-size: 12px;
    text-align: center;
}

#conversion
{

}

#nav
{
    width: 200px;
    height: 100%;
    border-right: 1px solid #eeeeee;
}

#chart1
{
    width: 800px;
}